/* 
https://ldrerin.tistory.com/467 
https://dribbble.com/search/css
*/
*{
  font-family: Dosis;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efeeee;
  
}
h1{
  font-size: 2em;
  margin-top: 30px;
}
h2{
  margin-bottom: 20px;
}
select{
  margin: 5px;
}

.nav{
  font-size: 1.5em;
  width: 100vw;
  height: 100px;
  background-color: #efeeee;
  box-shadow: 8px 8px 10px 0 #c0c0de;
  border-radius: 0 0 10px 10px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  padding-top: 1.7rem;
  list-style-type: none;
  margin-bottom: 1em;
}

.nav .logo{
  margin-right: auto;
  font-size: 2rem;
  color: dimgray;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}

#gameContents{
  margin: 50px;
  padding: 50px;

}

.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(59, 56, 56, .95);
  z-index: 1;
  display: none;
}
.popup .content {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #efeeee;
  width: 500px;
  height: 650px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(59, 56, 56, 0.2);
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.game{
  margin: 10px;
  float: left;
  width:25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  border-radius: 30px;
  position: relative;
  background: transparent;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
  text-shadow: 1px 1px 1px #d6e1ef99, 0 0 0 #000, 1px 1px 1px #d6e1ef00;
}

